<div class="right" *ngIf="todotasks">
  <h3>Available Books in the Library</h3>
  <input type="text" [(ngModel)]="searchedBook" name="searchedBox">
  <button class="deletebutton" (click)="serachBook()">Search book</button>  
      <div class="class1" *ngIf="!searchbuttonclicked"> 
          <table>
              <tr>
                <th>Book Name</th>
                <th>Description</th>
                <th>Count</th>
                <th>Author</th>
                <th>Remove Button</th>
              </tr> 
      <tr *ngFor="let tutorial of todotasks | async; let i = index">
        <td>{{ tutorial.name }}</td>
        <td>{{ tutorial.description }}</td>
        <td>{{ tutorial.count }}</td>
        <td>{{ tutorial.author }}</td>
        <td> <button class="deletebutton" (click)="delTutorial(i)">Remove book</button></td>
      </tr>
          </table>
      </div>
      <div class="class2" *ngIf="searchbuttonclicked"> 
          <table>
              <tr>
                <th>Book Name</th>
                <th>Description</th>
                <th>Count</th>
                <th>Author</th>
                <th>Remove Button</th>
              </tr> 
      <tr>
          <td>{{ filteredbook.name }}</td>
          <td>{{ filteredbook.description }}</td>
          <td>{{ filteredbook.count }}</td>
          <td>{{ filteredbook.author }}</td>
          <td> <button class="deletebutton" (click)="delTutorial(i)">Remove book</button></td>
        </tr>
          </table>
      </div>
   
   

</div>